.W100{
	width: 100% !important;
}
.w16{
	width: 16% !important;
}
.w84{
	width: 84% !important; 
}
.w42{
	width: 42% !important;
}
.w28{
	width: 28% !important;
}

.container{
	background-color: #F9F9F9;
	padding-left: 0px;
	padding-right: 0px;
}

.container .modules{
	display: none;
}


.modules-commodity{
	position: relative;
	padding: 10px;
}
.modules-commodity-img{
	max-width: 100%;
	width: 100%;
}
.modules-commodity-img-content{
	position: relative;
	overflow: hidden;
}

.modules-commodity-price-icon{
	overflow: hidden;
}
.modules-commodity-price{
	display: inline-block;
	width: 50%;
	float: left;
	font-style: normal;
  	color: #ff6600;
	font-weight: bold;
	font-size: 13px;

}

.modules-commodity-icon{
	display: inline-block;
	width: 50%;
	text-align: right;
	float: right;
}

.commodity-big-picture{

}
.commodity-small-picture{
	
}
.commodity-big-small-picture{
	
}
.commodity-list-picture{
	
}
.commodity-list-picture .modules-commodity-img-content{
	float: left;
}
.modules-commodity-ul{
	margin-top: -10px !important;
	overflow: hidden;
}
.modules-commodity-li{
	float: left;
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
}
.modules-commodity-li:last-of-type{
	margin-bottom: 0px;
}
.modules-commodity-div{
	overflow: hidden;
}
.modules-commodity-div p{
	line-height: 1.5em;
	margin-top: 5px;
}
.commodity-big-picture .modules-commodity-div p{
	
}
.commodity-small-picture .modules-commodity-div p{
	padding: 0px 5px;
}
.modules-commodity-name{
	font-size: 14px;
	color: #333;
	display: none;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.commodity-big-picture .modules-commodity-name{
	
}
.commodity-small-picture .modules-commodity-name{
	font-size: 14px;
	font-weight: 400;
}

.modules-commodity-desc{
	  color: #666;
}
.commodity-card-style{
	border: 1px solid #e5e5e5;
	background-color: #fff;
	padding: 5px;
	overflow: hidden;
}
.commodity-big-picture .commodity-card-style{
	
}
.commodity-small-picture .commodity-card-style{
	padding: 1px;
}
.commodity-mini-style{
	
}
.commodity-small-picture .modules-commodity-li:nth-of-type(odd){
	width: 50%;
	padding-right: 5px;
}
.commodity-small-picture .modules-commodity-li:nth-of-type(even){
	width: 50%;
	padding-left: 5px;
}

.commodity-big-small-picture .modules-commodity-li:nth-of-type(3n+1){
	width: 100%;
}
.commodity-big-small-picture .modules-commodity-li:nth-of-type(3n+2){
	width: 50%;
	padding-right: 5px;
}
.commodity-big-small-picture .modules-commodity-li:nth-of-type(3n+3){
	width: 50%;
	padding-left: 5px;
}
.commodity-list-picture  .modules-commodity-img{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 10px;
}



.modules-commodity-li-default:last-of-type{
	display: none;
}
.commodity-small-picture .modules-commodity-li-default:last-of-type{
	display: block;
}
/*.modules-commodity-shadow-content{
	width: 100%;
	position: absolute;
	left: 5px;
	bottom: 5px;
	
}*/
.modules-commodity-shadow{
	position: absolute;
	right: 5px;
	bottom: 5px;
	border-radius: 4px;
	background: rgba(0,0,0,.5);
	padding-right: 70px;
	height: 27px;
}
.modules-commodity-name-show{
	left: 5px;
}
.commodity-name-style-1{
	color: #fff;
	float: left;
	font-size: 12px;
	width: 100%;
	padding: 5px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.commodity-price-style-1{
	color: #fff;
	float: right;
	width: 70px;
	padding: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: right;
}
.modules-commodity-shadow .commodity-name-style-0{
	display: none;
}
.modules-commodity-shadow .commodity-price-style-0{
	display: none;
}
.modules-commodity-name.commodity-name-style-0{
	display: block;
}
.modules-commodity-price.commodity-price-style-1{
	display: none;
}
.icon-commodity{
	display: inline-block;
	background: url(../images/icon-commonditys.png) no-repeat;
	background-size: 40px;
	float: right;
}
.commodity-icon-style-0{
	width: 30px;
	height: 25px;
	background-position: 0px 0px;
}
.commodity-icon-style-1{
	height: 20px;
	width: 20px;
	background-position: 0 -88px;
}
.commodity-icon-style-2{
	width: 40px;
	height: 25px;
	background-position: 0 -25px;
}
.commodity-icon-style-3{
	width: 37px;
	height: 20px;
	background-position: 0 -68px;
}

.modules-nav{
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 9;
	border-left: 1px solid #ccc;
}
.nav-a{
	display: inline-block;
	width: 25%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 0px;
	border: 1px solid #ccc;
	border-left: 0px;
	background-color: #fff;
}
.nav-shopping{
	position: absolute;
	bottom: 55px;
	right: 10px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background: url('../images/shopping.png') no-repeat;
	background-size: 50px;


}
.container .nav-shopping{
	position: fixed;
	z-index: 99;
}
.shopping-number{
	color: #f60;
	font-size: 16px;
	position: absolute;
	top: -1px;
	left: 18px;
}
/*.nav-shopping .glyphicon-shopping-cart {
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0px 0px -8px;
}
.shopping-radio{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #f00;
}*/
.modules-textNav{
	position: relative;
	overflow: hidden;
}
.textNav-name{
	display: inline-block;
	width: 100%;
	height: 1.5em;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.textNav-a{
	display: block;
	padding: 10px 28px 10px 10px;
	border-top: 1px solid #E7E7E7;
	margin-top: -1px;
	color: #333;
	font-size: 14px;
  	font-weight: 700;
  	position: relative;
}
.modules-auxiliaryLine{
	position: relative;
	padding: 10px 0px;
}
.auxiliaryLine{
	border-top: 1px dashed #bbb;
	margin: auto;
	padding: 0;
	height: 1px;
	width: 100%;
}
.modules-auxiliaryBlank{
	position: relative;
	padding: 10px;
}
.auxiliaryBlank{
	
}
.modules-notice{
	position: relative;
	padding: 0 10px;
	height: 37px;
	line-height: 37px;
	color: #f90;
	background: #ffc;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	word-break: break-all;
	font-size: 12px;
}
.notice{
	
}
.container .modules-nav,.container-fluid .modules-nav{
	position: fixed;
}

.shopping-sucess{
	position: fixed;
	top: 35%;
	left: 50%;
	width: 220px;
	margin: 0 0 0 -110px;
	z-index: 9999;
	background: rgba(0,0,0,0.8);
	color: #fff;
	font-size: 14px;
	line-height: 1.5em;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	-webkit-animation-duration: 0.15s;
	-moz-animation-duration: 0.15s;
	animation-duration: 0.15s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;

	padding: 25px 10px;
	text-align: center;
	word-wrap: break-word;
}

.copyright {
  background-color: #f8f8f8;
  color: #999;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
.copyright .ft-copyright {
  padding: 50px 0 20px;
  margin: 0 15px;
  text-align: center;
  font-size: 12px;
  background: url("../images/logo.png") no-repeat center 20px;
  background-size: 73px 24px;
}
.copyright .ft-copyright>a {
  padding-top: 45px;
  color: #ccc;
}


.share-mp-info {
    position: relative;
    background: #1e1d22;
    color: #999;
    font-size: 0;
    line-height: 0;
    padding: 1px 135px 1px 1px;
}

.share-mp-info em,.share-mp-info i {
    vertical-align: middle;
    font-style: normal;
}

.share-mp-info em {
    color: #999;
}

.share-mp-info i {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-mp-info a {
    color: #999;
}

.share-mp-info .mp-image {
	display: inline-block;
	background: url(../images/logo_s.png) no-repeat;
	background-size: 24px 24px;
    vertical-align: middle;
    margin-right: 3px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}

.container .share-mp-info .mp-image {
	background: url(/wxdesign/images/logo_s.png) no-repeat;
	background-size: 24px 24px;
    
}

.share-mp-info .page-mp-info,.share-mp-info .links {
    font-size: 14px;
    line-height: 24px;
    color: #888;
}

.share-mp-info .page-mp-info {
    display: block;
    padding: 4px 10px 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.share-mp-info .links {
    position: absolute;
    top: 6px;
    right: 10px;
    display: inline-block;
    padding-right: 30px;
}

.share-mp-info .links a {
    margin-left: 8px;
}

.share-mp-info .mp-search {
    position: absolute;
    top: -7px;
    right: -10px;
    width: 40px;
    height: 35px;
}

.share-mp-info .mp-search::before,.share-mp-info .mp-search::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}

.share-mp-info .mp-search::before {
    margin-top: -7px;
    margin-left: -8px;
    width: 10px;
    height: 10px;
    border: 1px solid #666;
    background: transparent;
    border-radius: 12px;
}

.share-mp-info .mp-search::after {
    margin-top: 2px;
    margin-left: 3px;
    width: 2px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #666;
}

.share-mp-info.no-search-icon {
    padding-right: 105px;
}

.share-mp-info.no-search-icon .links {
    padding-right: 0;
}
.modules-imageNav{
	position: relative;
	overflow: hidden;
}
.imageNav-a{
	display: inline-block;
	width: 25%;
	float: left;
}
.imageNav-img{
	width: 100%;
	max-height: 78px;
}
.imageNav-name{
	display: inline-block;
	width: 100%;
	padding: 0px 5px;
	overflow: hidden;
	text-align: center;
}

.ads-displayMode{

}
.ads-small .swiper-slide{
	width: 50%;
}


.device {
  	width: 100%;
	margin: 0 auto;
	position: relative;
}
.device .title{
	position: absolute;
top: 0px;
left: 0px;
z-index: 9;
background-color: rgba(255,255,255,.5);
margin: 0px;
font-size: 14px;
width: 100%;
text-align: center;
line-height: 24px;
color: #437b0b;
font-weight: bold;
}
.device .menpai{
	position: absolute;
	top: 0px;
	left: 10px;
	display: inline-block;
	width: 81px;
	padding: 12px 10px 0px 10px;
	height: 33px;
	background: url('../images/menpai.png') no-repeat;
	background-size: 81px 33px;
	overflow: hidden;
	z-index: 9;
	font-size: 12px;
	color: #fff;
}
.swiper-container {
	overflow: hidden;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.device .pagination {
position: absolute;
left: 0;
text-align: center;
bottom: 5px;
width: 100%;
z-index: 9;
margin: 0px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #CCCCCC;
  /* box-shadow: 0px 1px 2px #555 inset; */
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #FF3300;
}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}
.swiper-slide-img{
	width: 100%;
	max-width: 100%;
}
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}


.imageAds-href{
overflow: hidden;
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.imageAds-text{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  padding: 0px 15px;
  z-index: 10;
  background-color: rgba(51,51,51,0.8);
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
}
.imageAds-text-span{
	line-height: 31px;	
}




/*模块分组
.nav-sider-main {
    overflow: hidden;
    position: relative;
    padding-left: 75px;
    border-bottom: 1px solid #e8e6e4;
    width: 100%;
    height: 320px;
    max-height: 320px;

}
.nav-sider{
	width: 75px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid #e8e6e4;
    overflow-y: auto;
}

.nav-sider .nav{

}
.nav-sider .nav-li{
	padding: 10px 5px;
	background-color: #e6e6e6;
}
.nav-sider .active{
	color: #f30;
	background-color: #fff;
}
.nav-sider .nav-li-a{
	display: inline-block;
	width: 100%;

	padding: 0px;
	color: #787878;
	max-height: 28px;
	overflow: hidden;
	line-height: 14px;
}
.nav-sider .nav > li > a:hover,.nav-sider .nav > li > a:focus{
	background-color: #fff;
}
.nav-sider-content{
    height: 100%;
    overflow: auto;
}

.nav-sider-details{
}
.nav-sider-title{
	font-size: 14px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	color: #787878;
	background: #eee;
}
.sider-ul{
	list-style: none;
	margin: 0px;
	overflow: hidden;
}
.sider-li{
  position: relative;
  min-height: 90px;
  padding: 10px 0px 10px 90px;
    border-bottom: 1px solid #ddd;
}
.sider-li:last-child{
	border-bottom: 0;
}
.sider-left{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 70px;
}
.sider-img{
	width: 100%;
}
.sider-content{
	
}
.sider-title{
	display: block;
	margin: 0;
	line-height: 30px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.sider-p{
color: #999;
font-size: 12px;
}
.sider-price{
	color: #f60;
	
}
.sider-count{
  position: absolute;
  bottom: 10px;
  right: 0px;
}
.sider-count-a{
	position: relative;
	z-index: 9999;
}
*/







.nav-sider-contarner{
	height: 100%;
	font-family: Helvetica Neue,simhei;
	padding: 80px 0px 0px 0px;
	position: relative;
	background-color: #f8f5f4;
}
.nav-shops{
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
}
.nav-title{
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0px 10px;
	font-size: 14px;
	color: #787878;
	border: 1px solid #ddd7d0;
	background-color: #ebe6e4;
	position: fixed;
	top: 35px;
	left: 0px;
}
.nav-sider-main {
    overflow: hidden;
    position: relative;
    padding-left: 75px;
    border-bottom: 1px solid #e8e6e4;
    width: 100%;
    height: 100%;

}

.nav-sider{
	width: 75px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-right: 1px solid #e8e6e4;
    overflow-y: auto;
}

.nav-sider .nav{

}
.nav-sider .nav-li{
	

	position: relative;
	padding: 20px 5px;
	border-bottom: 1px solid #e8e6e4;
	background-color: #faf7f6;

}
.nav-sider .active{
	color: #f30;
	  border-top: 3px solid #f60;
	  border-bottom: 1px solid #fff;
	  background-color: #fff;
}

.nav-sider  .nav-li-a{
	display: inline-block;
	width: 100%;

	padding: 0px;
	color: #787878;
	max-height: 28px;
	overflow: hidden;
	line-height: 14px;
}
.nav-sider .active .nav-li-a {
	color: #f30;
}
.nav-sider .nav > li > a:hover,.nav-sider .nav > li > a:focus{
	background-color: #fff;
}
.nav-sider-content{
    height: 100%;
    overflow: auto;
    background-color: #fff;
}

.nav-sider-main.no-images img{
	display: none;
}
.nav-sider-main.no-images .sider-li{
 padding: 10px;
}
.nav-sider-details{
}
.nav-sider-title{
	  font-size: 14px;
  padding: 10px 10px 10px 10px;
  color: #787878;
}
.sider-ul{
	list-style: none;
	margin: 0px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
}
.sider-li{
  position: relative;
  min-height: 90px;
  padding: 10px 10px 10px 90px;
    border-top: 1px solid #eee;
}
.sider-li:last-child{
	border-bottom: 0;
}
.sider-left{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 70px;
}
.sider-img{
	width: 100%;
}
.sider-content{
	
}
.sider-title{
	display: block;
	margin: 0;
	line-height: 30px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #4d4b47;

}
.sider-p{
color: #787878;
font-size: 12px;
}
.sider-price{
	font-size: 14px;
  color: #4d4b47;
	
}
.sider-count{
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.sider-count-a{
  height: 33px;
  display: inline-block;
  border: 1px solid #d1ccc7;
  background-color: white;
  width: 58px;
  background: white url(../images/add.png) no-repeat center center;
  background-size: 24px 24px;
}


.pop-pinzhu{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 100;
}
.pop-shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 8;
	background-color: rgba(0,0,0,.5);
}
.pop-pinzhu-content{
	width: 100%;
	border: 1px solid #ccc;
	background-color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 9;
}
.pop-top{
	padding: 5px 0px;
	overflow: hidden;
}
.pop-top a{
	float: left;
	margin: 5px 0px 5px 10px;
}
.pop-content{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.pop-content-list{
	border-top: 1px solid #ccc;
	overflow: hidden;
	height: 50px;
	line-height: 30px;
	padding: 10px 0px;
}
.pop-content-list:first-child{
	border-top: 0px;
}
.pop-list-name{
	width: 30%;
	text-align: center;
	float: left;
}
.pop-list-price{
	width: 30%;
	text-align: center;
	float: left;
}
.pop-list-count{
	width: 97px;
	text-align: center;
	float: right;
}

.pop-list-minus,.pop-list-sum,.pop-list-plus {
    height: 29px;
    display: inline-block;
    border: 1px solid #d1ccc7;
    background-color: white;
    float: left
}

.pop-list-minus {

    width: 29px;
    background: white url(../images/subtract.png) no-repeat center center;
    background-size: 24px 24px
}

.pop-list-sum {

    color: #4b4d47;
    text-align: center;
    line-height: 29px;
    width: 29px;
    border-left: none;
    border-right: 0;
    font-weight: bolder;
}

.pop-list-plus {
    width: 29px;
    background: white url(../images/add.png) no-repeat center center;
    background-size: 24px 24px
}




.pop-bottom{
}
.pop-bottom-left{
	width: 50%;
	float: left;
}
.pop-cancel{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px;
}
.pop-bottom-right{
	width: 50%;
	float: right;
	border-left: 1px solid #ccc;
}
.pop-confirm{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px;
}